html,body{
    margin: 0px;
    padding:0;
    background-color: teal;
    color: white;
    overflow: hidden;
}
.header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}
.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas,#computadora-cartas{
    height: 250px;
}